{% extends 'admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for user in data %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text"><strong>Name:</strong> {{ user.username }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                    <p class="card-text"><strong>Gender:</strong> {{ user.gender }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ user.course }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ user.department }}</p>
                    
                    
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'admin_handle_request' user.id 'accept' %}" class="btn btn-success">Accept</a>
                    <a href="{% url 'admin_handle_request' user.id 'decline' %}" class="btn btn-danger">Decline</a>
                </div>
                
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No users found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


