{% extends 'user_base.html' %}
{% load static %}
{% block title %}
Home - My Website
{% endblock %}

{% block content %}


<style>
    body {
        background: linear-gradient(rgba(255,255,255,0.9),rgba(255, 255, 255, 0.9)), url('img/logo.png') fixed center no-repeat;
        background-size: contain;
    }

    .status-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        transition: transform 0.2s;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .status-card img{
        height: 50px;
    }
    .status-card:hover {
        transform: translateY(-5px);
    }

    .status-icon {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .status-title {
        font-weight: bold;
    }
</style>


<div class="container mt-5 col-md-8">
    <h3 class="text-center mb-4">Post Graduation Status</h3>
    <div class="row justify-content-center">
        <!-- Startup Card -->
        <a href="/add_or_update_startup" class="col-md-4 mb-4 col-sm-6 text-decoration-none text-dark">
            <div class="status-card">
                <img src="{% static 'img/startup-icon.png' %}" alt="Startup" class="status-icon">
                <div class="status-title">Startup</div>
            </div>
        </a>

        <!-- Marital Status Card -->
        <a href="/add_or_update_marital_status" class="col-md-4 mb-4 col-sm-6 text-decoration-none text-dark">
            <div class="status-card">
                <img src="{% static 'img/marital-status-icon.png' %}" alt="Marital Status" class="status-icon">
                <div class="status-title">Marital Status</div>
            </div>
        </a>

        <!-- Business Card -->
        <a href="/add_or_update_business" class="col-md-4 mb-4 col-sm-6 text-decoration-none text-dark">
            <div class="status-card">
                <img src="{% static 'img/business-icon.png' %}" alt="Business" class="status-icon">
                <div class="status-title">Business</div>
            </div>
        </a>

        <!-- Higher Studies Card -->
        <a href="/add_or_update_higher_studies" class="col-md-4 mb-4 col-sm-6 text-decoration-none text-dark">
            <div class="status-card">
                <img src="{% static 'img/higher-studies-icon.png' %}" alt="Higher Studies" class="status-icon">
                <div class="status-title">Higher Studies</div>
            </div>
        </a>

        <!-- Others Card -->
        <a href="/add_or_update_other" class="col-md-4 mb-4 col-sm-6 text-decoration-none text-dark">
            <div class="status-card">
                <img src="{% static 'img/others-icon.png' %}" alt="Others" class="status-icon">
                <div class="status-title">Others</div>
            </div>
        </a>
    </div>
</div>







{% endblock %}
